<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auth0 - Azure DocumentDB Sample</title>
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link href="/lib/angular-bootstrap-toggle.min.css" rel="stylesheet">

</head>
<body ng-app="auth0App">
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Auth0 - Azure DocumentDB Sample</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="https://azure.microsoft.com/services/documentdb/" target="_blank">What is DocumentDB?</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a  href="/Account/Logout">Logout</a></li>
                    }
                    else
                    {
                        <li><a href="/Account/Login">Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - <a href="https://www.twitter.com/ealsur" target="_blank">@@ealsur</a></p>
        </footer>
    </div>
</body>
</html>