<div class="container">
<div class="page-header">
    <h1>Auth0 - Azure DocumentDB integration</h1>
</div>
<p>In this sample we will work on integrating a Login/SignUp experience with <a href="https://www.auth0.com" target="_blank">Auth0</a> while storing our user information and related data on <a href="https://azure.microsoft.com/services/documentdb/" target="_blank">Azure DocumentDB</a>.</p>
<p>Start by <a href="/Account/Login">Signing up</a> and check the <a href="/Profile">Profile</a> afterwards</p>
</div>